name: Train Model CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install MLflow
        run: |
          pip install mlflow==2.19.0

      - name: Run MLflow Project
        run: |
          mlflow run MLProject
